.button{
    margin-bottom: 2rem ;
}

.cen{
    justify-items: center;
}

#about, #client, #work, #registration{
    justify-items: center;
}

.footer{
    margin-bottom: 2rem;
}
.title {
    font-size: 3rem;
    margin: 2rem 0rem;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(87, 84, 84);
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.2rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

.sponsors{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.sponsor-des {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:underline gray;
}
.sponsor-des-more {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.sponsors.active .sponsor-des-more{
    justify-content: center;
    max-height: fit-content;
    animation: fade 1.4s ease-in-out;
}

.sponsors.active .sponsor-des{
    text-decoration: none;
}

.sponsors.active .dots{
    visibility: hidden;
}

svg {
    transition: tranform 0.5s ease-in;
}

.text{
    color: aliceblue;
}

img{
    border-radius : 10px;
}

.sponsor-home{
    padding-top: 1rem;
}

.image{
    border-radius: 5%;
    height: 6rem;
    width: 12rem;
    opacity: 0.8;
}

.opac{
    opacity:0.8;
    font-size: smaller;
    padding-left: 3rem;
}

.main-sponsor{
    height:10rem;
    width:20rem;
}

.media-partner{
    height: 6rem;
    width: 12rem;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opaity: 1;
        transform: translateY(0px);
    }
}
